/*
Challenge:
Style the app according to the provided design.
The font is called "Happy Monkey" and can be
embedded via Google Fonts.

Don't know how to make an image round? Google it!
Also, consider how you should select the image 
(class vs id vs element selector).
*/

body{
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
    background: linear-gradient(blue,pink) ;
}

h1,h2,h3,h4,p{
    text-shadow: 0 0 1px black;
}

.hero{
    text-align: center;
    margin-top: 40px;
    color:#ffffff ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section{
    
    color:#ffffff ;
    margin:80px;
}

.gift-image{
    width:600px;
    height: 600px;
    background-image: url(images/gift-cover.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border: 6px solid white;
    border-radius: 20px;
}



#avatar{
    width:300px;
    border-radius: 50%;
    border: 10px solid #EFB0C9;
    
}

#bday-date{
    background: #EFB0C9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#bday-age{
    background: #EFB0C9;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom:5px;
    margin-top: 20px;

}

#gift-happy:hover{
    background-image: url(images/happy.webp);
}

#gift-wow:hover{
    background-image: url(images/wow.webp);
    
}

#gift-genius:hover{
    background-image: url(images/smart.webp);
    
}

#gift-tada:hover{
    background-image: url(images/tada.webp);
    
}

#gift-cheers{
    height: 400px;
    background-position: top;
    background-size: cover;
    
}

#gift-cheers:hover{
    background-image: url(images/cheers.webp)
}

.footer-text,a{
    
    color:#ffffff ;
    font-size: 30px;
    font-style: italic;
}

footer{
    padding: 25px;
}